# Python Language Intro (Part 3)

## Agenda

1. Language overview
2. White space sensitivity
3. Basic Types and Operations
4. Statements & Control Structures
5. Functions
6. OOP (Classes, Methods, etc.)
7. Immutable Sequence Types (Strings, Ranges, Tuples)
8. Mutable data structures: Lists, Sets, Dictionaries

## 7. Immutable Sequence Types: Strings, Ranges, Tuples

Recall: All immutable sequences support the [common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations). For many sequence types, there are constructors that allow us to create them from other sequence types.

### Strings

In [3]:
h = ['hi', 'hey', 'hello', 'ciao']
' '.join(str(i) for i in h)

'hi hey hello ciao'

In [2]:
for i in range(3):
    print(i)

0
1
2

In [1]:
s = 'hello'

In [2]:
type(s)

str

In [3]:
(
    s[0],
    s[1:3],
    'e' in s,
    s + s,
)

('h', 'el', True, 'hellohello')

In [4]:
s[0] = 'j'

TypeError: 'str' object does not support item assignment

In [5]:
t = s
s += s # not mutating the string!

In [6]:
t, s

('hello', 'hellohello')

### Ranges

In [7]:
r = range(150, 10, -8)

In [8]:
type(r)

range

In [9]:
(
    r[2],
    r[3:7],
    94 in r
)

(134, range(126, 94, -8), True)

### Tuples

In [10]:
()

()

In [11]:
type(_)

tuple

In [12]:
(1, 2, 3)

(1, 2, 3)

In [13]:
1, 2, 3

(1, 2, 3)

In [14]:
(1) # not a tuple!

1

In [15]:
type(_)

int

In [16]:
(1,)

(1,)

In [17]:
type(_)

tuple

In [18]:
1,

(1,)

In [19]:
('a', 10, False, 'hello') # tuples are heterogenous

('a', 10, False, 'hello')

In [20]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [22]:
t = tuple('hello')
(
    'e' in t,
    t[::-1],
    t * 3
)

(True,
 ('o', 'l', 'l', 'e', 'h'),
 ('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o'))

## 8. Mutable data structures: Lists, Sets, Dicts

### Lists

This list supports  the [mutable sequence operations](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types) in addition to the [common sequence operations](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations).

In [23]:
l = [1, 2, 1, 1, 2, 3, 3, 1]

In [24]:
type(l)

list

In [25]:
len(l)

8

In [26]:
l[5]

3

In [27]:
l[1:-1]

[2, 1, 1, 2, 3, 3]

In [28]:
l + ['hello', 'world']

[1, 2, 1, 1, 2, 3, 3, 1, 'hello', 'world']

In [29]:
l # `+` does *not* mutate the list!

[1, 2, 1, 1, 2, 3, 3, 1]

In [30]:
l * 3

[1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1, 1, 2, 1, 1, 2, 3, 3, 1]

In [31]:
total = 0
for x in l:
    total += x
total

14

#### Lists from other things ...

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list('hello!')

['h', 'e', 'l', 'l', 'o', '!']

In [34]:
list((1, 2, (3, 4)))

[1, 2, (3, 4)]

In [35]:
'I love CS 331'.split()

['I', 'love', 'CS', '331']

In [40]:
'apples, bananas, cats, dogs'.split(',')

['apples', ' bananas', ' cats', ' dogs']

In [42]:
# also, strings from lists of strings
'-'.join(['a', 'e', 'i', 'o', 'u'])

'a-e-i-o-u'

In [44]:
' 👏 '.join('this is a beautiful day'.split())

'this 👏 is 👏 a 👏 beautiful 👏 day'

#### Mutable list operations

In [45]:
l = list('hell')

In [46]:
l.append('o')

In [47]:
l

['h', 'e', 'l', 'l', 'o']

In [48]:
l.append(' there')

In [49]:
l

['h', 'e', 'l', 'l', 'o', ' there']

In [50]:
del l[-1]

In [51]:
l

['h', 'e', 'l', 'l', 'o']

In [52]:
l.extend(' there')

In [53]:
l

['h', 'e', 'l', 'l', 'o', ' ', 't', 'h', 'e', 'r', 'e']

In [54]:
l[2:7]

['l', 'l', 'o', ' ', 't']

In [55]:
del l[2:7]

In [56]:
l

['h', 'e', 'h', 'e', 'r', 'e']

In [57]:
l[0:2] = 'get '

In [58]:
l

['g', 'e', 't', ' ', 'h', 'e', 'r', 'e']

In [59]:
l[:]

['g', 'e', 't', ' ', 'h', 'e', 'r', 'e']

In [60]:
l == l[:]

True

In [61]:
l is l[:]

False

#### Sorting lists

See <https://docs.python.org/3/library/stdtypes.html#list.sort>

In [10]:
import random

l = list(range(-10,10))
#random.shuffle(l)
l

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
l.sort()
l

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
random.shuffle(l)
sorted(l)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
l

[-7, 6, -6, 9, 0, -4, 3, -9, -1, -8, -5, -10, 7, 1, 5, -2, -3, 8, 4, 2]

In [70]:
l.sort(reverse=True)
l

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [71]:
l.sort(key=lambda n:abs(n))
l

[0, 1, -1, 2, -2, 3, -3, 4, -4, 5, -5, 6, -6, 7, -7, 8, -8, 9, -9, -10]

In [72]:
l.sort(key=abs, reverse=True)
l

[-10, 9, -9, 8, -8, 7, -7, 6, -6, 5, -5, 4, -4, 3, -3, 2, -2, 1, -1, 0]

#### List comprehensions

In [73]:
[2*x+5 for x in range(10)]

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [74]:
[[n for n in range(x)] for x in range(10)]

[[],
 [0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [77]:
[list(range(x)) for x in range(10)]

[[],
 [0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [78]:
adjs = ('hot', 'blue', 'quick')
nouns = ('table', 'fox', 'sky')
[adj + ' ' + noun for adj in adjs for noun in nouns]

['hot table',
 'hot fox',
 'hot sky',
 'blue table',
 'blue fox',
 'blue sky',
 'quick table',
 'quick fox',
 'quick sky']

In [79]:
# pythagorean triples
n = 50
[(a,b,c) for a in range(1,n) 
         for b in range(a,n) 
         for c in range(b,n) 
         if a**2 + b**2 == c**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### Sets

A [set](https://docs.python.org/3.7/library/stdtypes.html#set-types-set-frozenset) is a data structure that represents an *unordered* collection of unique objects (like the mathematical set).

In [80]:
s = {1, 2, 1, 1, 2, 3, 3, 1}

In [81]:
s

{1, 2, 3}

A set only contains unique values, meaning it will automatically uniquify any values you feed into it.

In [90]:
1 in s

True

Sets are designed to quickly test for containment

In [82]:
r = [1,1,2,2,3,3,4,4]
s = set(r)
s

{1, 2, 3, 4}

You can turn a list into a set using the "set" operator

In [83]:
t = {2, 3, 4, 5}

In [84]:
s.union(t)

{1, 2, 3, 4, 5}

In [85]:
s | t

{1, 2, 3, 4, 5}

In [86]:
s.difference(t)

{1}

In [87]:
s - t

{1}

In [88]:
s.intersection(t)

{2, 3, 4}

In [89]:
s & t

{2, 3, 4}

### Dicts (aka Maps)

A [dictionary](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict) is a data structure that contains a set of unique key &rarr; value mappings.

In [91]:
d = {
    'Superman':  'Clark Kent',
    'Batman':    'Bruce Wayne',
    'Spiderman': 'Peter Parker',
    'Ironman':   'Tony Stark'
}
#each entry in the dictionary contains a key seperated from its value by a colon, with comma at end

In [92]:
type(d)

dict

In [93]:
d['Ironman']

'Tony Stark'

You can look up values based on their keys in the dictionary

In [94]:
d['Ironman'] = 'James Rhodes'

In [95]:
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker',
 'Ironman': 'James Rhodes'}

Dictionaries are **mutable** so you can edit the entries

In [96]:
del d['Ironman']
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker'}

In [97]:
d['Hulk'] = 'Bruce Banner'
d

{'Superman': 'Clark Kent',
 'Batman': 'Bruce Wayne',
 'Spiderman': 'Peter Parker',
 'Hulk': 'Bruce Banner'}

Multiple different keys can have the same duplicate values, but each key must be unique (and are typically immutable)

In [98]:
for k in d:
    print(f'{k} => {d[k]}')

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker
Hulk => Bruce Banner

In [99]:
for k in d.keys():
    print(f'{k} => {d[k]}')

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker
Hulk => Bruce Banner

In [100]:
for v in d.values():
    print(v)

Clark Kent
Bruce Wayne
Peter Parker
Bruce Banner

In [103]:
for k,v in d.items():
    print(f'{k} => {v}')

Superman => Clark Kent
Batman => Bruce Wayne
Spiderman => Peter Parker
Hulk => Bruce Banner

items() is an iterator that returns tuples containing the keys with their assigned values. 
This is more efficient for iterating values as you don not have to individually look up the value assigned to each key

#### Dictionary comprehensions

In [105]:
es = {e:2**e for e in range(0,100,10)}

In [106]:
es

{0: 1,
 10: 1024,
 20: 1048576,
 30: 1073741824,
 40: 1099511627776,
 50: 1125899906842624,
 60: 1152921504606846976,
 70: 1180591620717411303424,
 80: 1208925819614629174706176,
 90: 1237940039285380274899124224}

In [107]:
es[20]

1048576

In [108]:
{x:y for x in range(3) for y in range(10)}

{0: 9, 1: 9, 2: 9}

In [109]:
sentence = 'a man a plan a canal panama'
{w:w[::-1] for w in sentence.split()}

{'a': 'a', 'man': 'nam', 'plan': 'nalp', 'canal': 'lanac', 'panama': 'amanap'}